.box {
    width: 1.3em;
    height: 1.3em;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    border: 2px solid #ffffff;
}

.box:hover{
    cursor: pointer;
    border: 2px solid #555555;
}
